<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Aservlet</servlet-name>
    <servlet-class>packet1.Aservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Bservlet</servlet-name>
    <servlet-class>packet1.Bservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Cservlet</servlet-name>
    <servlet-class>packet1.Cservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Dservlet</servlet-name>
    <servlet-class>packet1.Dservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Eservlet</servlet-name>
    <servlet-class>packet1.Eservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Fservlet</servlet-name>
    <servlet-class>packet1.Fservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Gservlet</servlet-name>
    <servlet-class>packet1.Gservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Hservlet</servlet-name>
    <servlet-class>packet1.Hservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Oneservlet</servlet-name>
    <servlet-class>packet2.Oneservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Twoservlet</servlet-name>
    <servlet-class>packet2.Twoservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AAservlet</servlet-name>
    <servlet-class>packet3.AAservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginSevlet</servlet-name>
    <servlet-class>logintest.LoginSevlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>logintest.ImageServlet</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>Aservlet</servlet-name>
    <url-pattern>/Aservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Bservlet</servlet-name>
    <url-pattern>/Bservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Cservlet</servlet-name>
    <url-pattern>/Cservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Dservlet</servlet-name>
    <url-pattern>/Dservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Eservlet</servlet-name>
    <url-pattern>/Eservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Fservlet</servlet-name>
    <url-pattern>/Fservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gservlet</servlet-name>
    <url-pattern>/Gservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Hservlet</servlet-name>
    <url-pattern>/Hservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Oneservlet</servlet-name>
    <url-pattern>/Oneservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Twoservlet</servlet-name>
    <url-pattern>/Twoservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AAservlet</servlet-name>
    <url-pattern>/AAservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginSevlet</servlet-name>
    <url-pattern>/LoginSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
